<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment value="Login" > 
      <ion-segment-button value="Login" [routerLink]="['/home/']">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Catalogo" [routerLink]="['/catalogo-page/']">
        <ion-label>Catalogo</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Mis prestamos" [routerLink]="['/mis-prestamos-page/']">
        <ion-label>Mis prestamos</ion-label>
      </ion-segment-button>
    </ion-segment>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item  *ngFor="let libro of listaPrestamos" [routerLink]="['/borrar-libro/', libro.id]">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="./../../assets/covers/{{libro.isbn}}.jpg"/>
      </ion-avatar>
      <label>{{libro.titulo}}</label>
      <ion-icon name="arrow-forward-sharp" slot="end"></ion-icon>
    </ion-item>
  </ion-list> 
</ion-content>
